footer {
    padding: 30px 0;
    text-align: center;
    background: #333;
    margin-top: 60px;
}
.copyright {
    color: #fff;
    display: block;
}

.copyright a {
    text-decoration: underline;
    color: #a6a6a6;
}

.copyright a:hover {
    color: #56817A
}