footer {
    padding: 30px 0;
    text-align: center;
    background: rgba(24, 78, 74, 0.6);
    box-shadow: 0px -4px 20px 10px rgba($black, 0.25);
    margin-top: 60px;
}
.copyright {
    color: #fff;
    display: block;
}

.copyright a {
    text-decoration: underline;
    color: #f4f4f4;
}

.copyright a:hover {
    color: #56817A;
}