    @mixin rowMachine($numPerRow, $margin) {
        width: (100% - (($numPerRow - 1) * $margin)) / $numPerRow;

        &:nth-child(n) {
            margin-bottom: $margin;
            margin-right: $margin;
        }

        &:nth-child(#{$numPerRow}n) {
            margin-right: 0;
        }
    }

    #content {
        .clear:after {
            display: block;
            clear: both;
            content: "";
            visibility: hidden;
            height: 0
        }

        .clear {
            zoom: 1
        }

        .page-works-show {
            margin-top: 30px;
            // display: flex;
            // flex-wrap: wrap;

            .centent-box {
                height: 220px;
                padding: 20px;
                margin: 10px;
                // @include rowMachine(1, 2%);
                cursor: pointer;
                position: relative;
                // @include tablet-up {
                //     @include rowMachine(3, 2%);
                // }

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    // border: 10px solid rgba(0, 0, 0, .5); 
                    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, .5);
                    box-sizing: border-box;

                    img {
                        position: absolute;
                        width: auto;
                        height: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%) scale(1.2);
                        margin: 0;
                        z-index: -1;
                    }

                    .tags-description {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 154px;
                        padding: 0 20px;
                        margin: 0;
                        // filter: blur(4px);
                        background: rgba(0, 0, 0, .5);

                        h3 {
                            font-size: 21px;
                            color: #fff;
                        }

                        p {
                            word-break: break-all;
                            word-wrap: break-word;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }